
body {
    background-color: #f0f4eb;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header oppe i toppen af siden */
#velkommen {
    color: #f0f4eb;
    background-color: #8b6f4b;
    margin-top: 0;
    padding: 12px;
    text-align: center;
    font-size: 20px;
}


/* Navigationsmenu */
#flexbox-menu {
    display: flex;
    margin: auto;
    padding: 15px;
    justify-content: center;
}

#flexbox-menu div {
    margin: 5px;
}