
body {
    background-color: #f0f4eb;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header oppe i toppen af siden */
#velkommen {
    color: #f0f4eb;
    background-color: #8b6f4b;
    margin-top: 0;
    padding: 12px;
    text-align: center;
    font-size: 20px;
}


/* Navigationsmenu */
#flexbox-menu {
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: center;
}

#flexbox-menu div {
    margin: 10px;
}


/* Limited Edition Ad block */
#grid-limitedEdition {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 1100px;
    margin: auto;
}

#grid-limitedEdition div {
    background-color: #8b6f4b;;
    margin: 2px;
    padding: 0;
    text-align: center;
    border-radius: 10px;
}

#grid-limitedEdition img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#grid-limitedEdition button {
    padding: 10px 20px;
}