@charset "utf-8";

body {
    background-color: #f0f4eb;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header oppe i toppen af siden */
    #velkommen {
        color: #f0f4eb;
        background-color: #8b6f4b;
        margin-top: 0;
        padding: 12px;
        text-align: center;
        font-size: 20px;
    }
/* Header oppe i toppen af siden */

/* NY FLEX TOP MENU */

    #flex-topMenu {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }

    #flex-topMenu div {
        padding: 5px;
        width: 360px;
        gap: 3px;
        color: #5E5C65;
    }

    #flex-topMenu #inner-flex-topMenu {
        display: flex;
        text-align: right;
        justify-content: flex-end;
    }

    #flex-topMenu #inner-flex-topMenu div {
        width: 60px;
    }

    #flex-topMenu #inner-flex-topMenu .topMenu-icon {
        height: 18px;
        width: 18px;
    }

    #flex-topMenu img {
        height: 250px;
        width: auto;
        
    }

    #flex-topMenu #flex-topMenu-LEFT {
        text-align: left;
    }

    #flex-topMenu #flex-topMenu-CENTER {
        text-align: center;
    }

/* NY FLEX TOP MENU */

/* Navigationsmenu */
    #flexbox-menu {
        display: flex;
        margin: auto;
        padding: 10px;
        justify-content: center;
        margin-bottom: 80px;
    }

    #flexbox-menu div {
        margin: 10px;
    }

    /* unvisited link */
        #flexbox-menu a:link {
        color: #5E5C65;
        text-decoration: none;
    }

    /* mouse over link */
        #flexbox-menu a:hover {
        color:  #2e2a39;
        text-decoration: underline;
    }

/* Navigationsmenu */


/* NY LIMITED EDITION AD BLOCK */

    #flex-limitedEdition {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    #flex-limitedEdition div {
        background-color:  #8b6f4b;;
        text-align: center;
        border-radius: 10px;
    }

    #flex-limitedEdition .inner-flex-limitedEdition {
        display: flex;
        flex-direction: column;
        color: #f0f4eb;
        padding: 10px;
        justify-content: center;
        height: 90%;
    }

    #flex-limitedEdition .inner-flex-limitedEdition div {
        display: flex;
        justify-content: center;
    }

    #flex-limitedEdition .inner-flex-limitedEdition .inner-flex-text {
        font-size: 20px;
        padding: 10px;
    }

    #flex-limitedEdition .inner-flex-limitedEdition .inner-flex-rubrik {
        font-size: 33px;
    }

    #flex-limitedEdition img { 
        width: 110%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    #flex-limitedEdition button {
        padding: 10px 25px;
        background-color: #2e2a39;
        color: #f0f4eb;
        border-radius: 10px;
        font-size: 16px;
        margin: 10px;
    }

/* NY LIMITED EDITION AD BLOCK */


/* Start products */
.products h2 {
    margin-top: 50px;
    margin-left: 210px;
}

.products-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 210px;
}
.products-cards div {
    background-color: #F1F0E8;
    box-shadow: 10px 10px 25px  #D6D5CE;
    border-radius: 20px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.products-cards img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.products-cards a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #2E2A39;
}

.product-title {
    text-align: center;
}

.products-cards button {
    color: #2E2A39;
    background-color: #FDFBF8;
    width: 70%;
    border: solid 1px #8C8890;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1.1rem;
}
/* Slut products */

/* Start reviews */
.review { 
    display: flex; 
    justify-content: center; 
    background-color: #8C714C;
    width: 100%; 
    margin: 0px;
    padding: 0px;
    color: white;
    gap: 60px;
}

.review p {
    width: 200px;
    text-align: center;
    color: #d5cdc2;
    font-size: 1.2rem;
}

/* new for: (sif-javascript.js)
.review1 {
    width: 200px;
    text-align: center;
    color: #d5cdc2;
    font-size: 1.2rem;
}

.review2 {
    width: 200px;
    text-align: center;
    color: #d5cdc2;
    font-size: 1.2rem;
}

.review3 {
    width: 200px;
    text-align: center;
    color: #d5cdc2;
    font-size: 1.2rem;
}

.review4 {
    width: 200px;
    text-align: center;
    color: #d5cdc2;
    font-size: 1.2rem;
}
/*

/* Slut reviews */

/* Start infotekst */
.infotekst {
    margin: 75px 250px 75px 250px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.infotekst section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.infotekst p {
    color: #5E5C65;
    font-size: 1.5rem;
    font-weight: 200;
}

.infotekst img {
    height: 300px;
    width: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 25px  #D6D5CE;
}
/* Slut infotekst */



/* Start footer */
    footer {
        background-color: #8C714C;
    }

    .footer-nyhedsbrev {
        margin: auto;
        text-align: center;
    }

    .footer-nyhedsbrev h2 {
        color: #F5F5F5;
        padding-top: 20px;
    }

    .footer-nyhedsbrev p {
        color: #DBD4CB;
    }

    .footer-nyhedsbrev input {
        background-color: #8C714C;
        border: solid 1px #DBD4CB;
        border-radius: 5px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .footer-container h3 {
        color: #F5F5F5;
    }

    .footer-container p {
        color: #DBD4CB;
    }

    .footer-menu a {
        color: #3C353D;
    }

    .footer-trustpilot a {
        color: #F5F5F5;
    }

    .footer-nyhedsbrev ::placeholder {
        color: #DBD4CB;
    }

/* Slut footer */


/* MEDIA QUERY */ 

    /* Mobile Version */
    @media only screen and (max-width: 520px) {
        /* body {background-color: red;} */
    }

    /* Tablet Version */
    @media only screen and (min-width: 521px) {
        /* body {background-color: pink;} */
    }

    /* Computer Version */
    @media only screen and (min-width: 899px) {
        /* body {background-color: rgb(14, 6, 7);} */
    }


/* MEDIA QUERY */ 